@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.section3-container {
  width: 100%;
  justify-self: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
  padding: 1rem;
}

.section3-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.section3-header {
  text-align: center;
  margin-top: 30px;
}

.section3-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
}

.section3-image-wrapper {
  width: 100%;
}

.section3-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  align-self: center;
  justify-self: center;
}

.section3-features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  text-align: center;
  padding: 2.5rem 1.5rem;
}

.section3-feature {
  background-color: #f5f5f5;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.section3-feature-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.section3-feature-heading {
  font-weight: 600;
  margin-top: 40px;
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
}

.section3-feature-text {
  color: #4b5563;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  text-align: left;
}

.section3-image-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3-feature-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.section3-subheading{
  font-size: 1rem;
  color: #6b7280;
  text-align: center;
}

@media (min-width: 768px) {
  .section3-features {
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 3rem;
  }

  .section3-heading {
    font-size: 2.5rem;
  }

  .section3-feature-title {
    font-size: 1.75rem;
  }

  .section3-feature-heading {
    font-size: 1.35rem;
  }
}

@media (min-width: 1024px) {
  .section3-features {
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5rem 5rem;
  }

  .section3-heading {
    font-size: 3rem;
  }

  .section3-feature-title {
    font-size: 2rem;
  }

  .section3-feature-heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .section3-container {
    background-color: rgb(26, 26, 26);
    margin-top: 10vw;
  }
  .section3-feature{
    background-color: rgb(32, 32, 32);
  }
  .section3-heading {
    font-size: 1.5rem;
    color: white;
  }

  .section3-header{
    color: white;
  }

  .section3-feature-title {
    font-size: 1.25rem;
    color: white;
  }

  .section3-feature-heading {
    font-size: 1rem;
    color: white;
  }

  .section3-feature-text {
    font-size: 0.75rem;
    color: #d1d5db; 
  }

  .section3-image-container {
    height: 150px;
  }
  .section3-subheading{
    font-size: 0.7rem;
    color: #d1d5db;
    font-style: italic;
  }
}
