.section4-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0;
  margin-top: 5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section4-image-wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .section4-image-wrapper {
    width: 50%;
  }
}

.section4-image {
  border-radius: 0.5rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .section4-image {
    height: 300px;
  }
}

.section4-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-left: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .section4-content {
    width: 50%;
    padding-left: 3rem;
  }
}

.section4-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 70%;
  text-align: center;
  line-height: 0.5;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .section4-heading {
    font-size: 2.5rem;
    width: 80%;
    text-align: center;
    margin-top: 0;
  }
}

.section4-paragraph {
  font-size: 0.78rem;
  color: #4b5563;
  margin-bottom: 1.5rem;
  width: 70%;
  text-align: left;
}

@media (min-width: 768px) {
  .section4-paragraph {
    text-align: left;
    width: 80%;
  }
}

.section4-form {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .section4-form {
    justify-content: flex-start;
  }
}

.section4-button {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section4-button:hover {
  background-color: #ffffff;
  color: black;
  transition: background-color 0.3s ease;
}

.section4-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  outline: none;
}

.section4-input:focus {
  box-shadow: 0 0 0 2px black;
}

.section4-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.section4-container.visible {
  opacity: 1;
  transform: translateY(0);
}

