.card-container{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 300px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.card-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: gray;
}
.card-title{
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}
.card-content{
    color: #000000;
    font-family: "Poppins", sans-serif;
    flex-grow: 1;
    padding-left: 10px;
}
.card-date{
    font-size: 0.5em;
    color: #626262;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    
}
.card-description{
    font-size: 0.5em;
    color: #afafaf;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;

}